<% @secrets.each do |s| %>
	<% @u = User.find(s.user_id) %>
	<p>
		<%= s.content %> -<%= @u.name %>
	</p>
	<p>
		<%= Secret.NumberOfLikes(s.id) %> likes
		<% if User.HasLiked(@u.id, s.id) %>
			<form action = '/likes' method = 'post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type = 'hidden' name = '_method' value = 'delete'>
				<input type = 'hidden' name = 'secret_id' value = '<%= s.id %>'>
				<input type = 'hidden' name = 'user_id' value = '<%= @u.id %>'>
				<input type = 'submit' value = 'Unlike'>
			</form>
		<% else %>
			<form action = '/likes' method = 'post'>
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type = 'hidden' name = 'secret_id' value = '<%= s.id %>'>
				<input type = 'hidden' name = 'user_id' value = '<%= @u.id %>'>
				<input type = 'submit' value = 'Like'>
			</form>
		<% end %>
		<form action = '/secrets' method = 'post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type = 'hidden' name  = '_method' value = 'delete'>
			<input type = 'hidden' name = 'secret_id' value = '<%= s.id %>'>
			<input type = 'hidden' name = 'user_id' value = '<%= session[:user_id] %>'>
			Enter a secret: <input type = 'text' name = 'New_Secret'>
			<input type = 'submit' value = 'Delete'>
		</form>
	</p>
<% end %>